<div class="col-xs-5">
  <div class="thumbnail">

    <h3><%= link_to bookmarker.title, bookmarker %></h3>
    <%= truncate(bookmarker.url, length: 90) %>

  </div>
  <% if bookmarker.user.eql?(current_user) %>
      <%= link_to 'Edit', edit_bookmarker_path(bookmarker), :class => 'btn btn-primary' %>
      <%= link_to 'Delete', bookmarker, method: :delete, data: { confirm: 'Are you sure?' }, :class => 'btn btn-primary' %>
  <% end %>
</div>