<div class="album text-muted">
  <div class="container">
    <div class="row">
      <%= render @bookmarkers%>
      <% if @bookmarkers.blank? %>
          <div id="no-results"><h3> No results for you </h3></div>
      <% end %>
    </div>
  </div>
</div>

<%= paginate @bookmarkers, params: {uid: params[:uid]} %>
