<div class="col-xl-12 offset-lg-3">
  <h2>Edit bookmark</h2>

  <%= render 'form' %>

  <span aria-hidden="true">&larr;</span><%= link_to 'Back', bookmarkers_path, :class => 'btn btn-info' %>
  <%= link_to 'Show', @bookmarker, :class => 'btn btn-default btn-sm' %>
</div>