<h1>Edit bookmark</h1>

<%= render 'form' %>

<span aria-hidden="true">&larr;</span><%= link_to 'Back', bookmarkers_path, :class => 'btn btn-default btn-sm' %>
<%= link_to 'Show', @bookmarker, :class => 'btn btn-default btn-sm' %>