<% if user_signed_in? %>
  <main role="main">

    <%= render 'navbar'%>

    <div class="album text-muted">
      <div class="container">
        <div class="row">
        <%= render @bookmarkers%>
        </div>
      </div>
    </div>

    <%= paginate @bookmarkers %>

  </main>
<% else %>
    <%= render 'home/login' %>
<% end %>
