<div class="col-xl-12 offset-lg-3">
  <h2>New bookmark</h2>

  <%= render 'form' %>

  <div class="controls">
    <span aria-hidden="true">&larr;</span><%= link_to 'Back', bookmarkers_path, class: 'btn btn-info' %>
  </div>
</div>
