<body>
<div class="container">
  <div class="jumbotron mt-3 text-center">
    <h2>Bookmarks App</h2>
    <%= link_to 'Facebook login', user_facebook_omniauth_authorize_url, class: 'btn btn-lg btn-primary' %>
  </div>
</div>
</body>

