<header>
  <div class="navbar navbar-dark bg-dark">
    <div class="container d-flex justify-content-between">
      <div class="navbar-brand">

        <%= image_tag current_user.avatar, class: 'rounded-circle'%>

        <div class="user_name">
          <%= current_user.name %>
        </div>
        <h1 class="jumbotron-heading"><%= link_to 'Bookmarks', bookmarkers_url(uid: current_user.uid), :id => 'main-title' %></h1>
      </div>
      <%= link_to 'Logout', destroy_user_session_url, method: :delete, :class => 'btn btn-secondary' %>
    </div>
  </div>
</header>
