// Place all the styles related to the Bookmarkers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.side-crop {
  max-height: 200px;
  overflow: hidden;
  border-radius: 15px 15px 0 0;
}

.side-crop img { max-width: initial; }

.title_bookmarks {
  text-align: center;
}
h6.card-title {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

div.card {
  margin-bottom: 1rem;
}

div#error_explanation {
  color: red;
}

#select-cards {
  margin-left: 1%;
  padding-bottom: 2%;
}

.friends-title {
  text-align: center;
  padding: 1rem;
}

#friends-list {
  margin-right: 55rem;
}

#friends-button {
  position: absolute;
}

.card-title {
  color: blue;
}