// Place all the styles related to the Bookmarkers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.side-crop {
  max-height: 200px;
  overflow: hidden;
  border-radius: 15px 15px 0 0;
}

.side-crop img { max-width: initial; }

.title_bookmarks {
  text-align: center;
}